
<ion-view view-title="About Hive">
    <ion-content class="im-wrapper">
        <h4>About Hive</h4>
        <p>
            Invoke Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam id necessitatibus obcaecati cupiditate odit, consectetur vel rem nulla maxime sunt? Sapiente molestiae ipsum id adipisci temporibus! At, ducimus similique repudiandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero quam aspernatur, perferendis odio in magnam a, explicabo incidunt ad sit laboriosam iste necessitatibus! Sunt nulla distinctio sapiente, inventore nesciunt repellat. in a directive or controller to activate all ink-elements on the screen.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero sint, cupiditate culpa. Excepturi nam non maxime cum ea eius dolore accusantium temporibus voluptatem asperiores, sapiente libero voluptatum autem quam saepe.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia beatae at similique animi labore consequatur, nemo pariatur possimus recusandae quia fugit odit voluptates deserunt omnis incidunt sit. Corrupti, eius, recusandae.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda inventore aliquid eum, explicabo tenetur delectus facilis eos, repellat cumque unde alias ab nulla consequuntur minima. Adipisci recusandae rem tempora! Iste. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse hic, ratione quibusdam sunt laudantium ad inventore, rerum qui cum nobis 
        </p>
        <br/>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/arya.jpg">
                <h2>Speaker 1</h2>
                <p>November 05, 1955</p>
            </div>
            <div class="item item-body">
                <p>
                This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                the content is from a card-body consisting of an image and paragraph text. The footer
                consists of tabs, icons aligned left, within the card-footer.
                </p>
                <!--<p>
                <a href="#" class="subdued">1 Like</a>
                <a href="#" class="subdued">5 Comments</a>
                </p>-->
            </div>
        </div>
    </ion-content>
</ion-view>
