
<ion-view view-title="Hive Africa">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Welcome</strong>
        </div>
        
        <div class="card">
            <div class="item item-text-wrap">
                <ion-item>
                    <div class="video-container">
                        <iframe src="video/Welcome1.mp4" frameborder="0" width="565" height="180"></iframe>
                    </div>
            </ion-item>
            </div>
        </div>
        <div class="item item-divider">
        ABOUT HIVE
        </div>                                        
        <div class  = "item item-text-wrap">
            <div class="row">
                <div class="col">
                    <p> 
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem rerum dignissimos excepturi voluptates repellendus, cumque! Consectetur voluptatibus magnam aliquid, quasi possimus debitis ex non facilis, vel. Impedit quas, enim totam.
                    </p>                    
                </div>
                <div class="col">
                    <p> 
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore harum dicta ipsam, accusantium quibusdam nemo porro dolorum pariatur adipisci molestias autem dolores saepe laboriosam numquam deleniti. Id officia unde reiciendis.
                    </p>
                </div>
            </div>
            <div class="row">
                <button class="button button-raised button-stable ink-dark" data-ng-click="click2Get()">Read More</button>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <timer interval="1000">{{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer>
            </div>
        </div>

        <div class="item item-text-wrap">
            <div class="row responsive-sm">
                <div class="col">
                    <h4>Head Title</h4>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus qui omnis doloremque saepe, sint suscipit. Quo excepturi nostrum asperiores quod magnam, corporis pariatur dolor eveniet, impedit repudiandae quasi obcaecati ea!
                </div>
                <div class="col">
                    <h4>Head Title</h4>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dignissimos, minima suscipit totam iste recusandae nesciunt qui cumque mollitia. Possimus libero dolorem in aliquam quidem dignissimos, rerum nostrum temporibus nulla!
                </div>
                <div class="col">
                    <h4>Head Title</h4>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quibusdam doloribus consectetur sint, incidunt numquam. Id odio, doloremque est temporibus reiciendis fugit. Rerum sed magnam corporis ipsa odit nesciunt dolorem.
                </div>
            </div>
        </div>
        
        <br/>

        <div class="item item-text-wrap has-footer" style="background-image: url('img/newmaterial.jpg');">
            <div class="row">
                <h3>Location</h3>
                <h4>Sandrialia Hotels</h4>
            </div>
        </div>

        <div class="bar bar-footer bar-assertive static">
            <div class="title"><p>Footer</p></div>
        </div>
    </ion-content>
</ion-view>
