
<ion-view view-title="Hive Africa">
    <ion-content>
        <div class="video-container no-padding-top">
            <video id="videoE" width="100%" height="180" autoplay muted loop
            preload="metadata" class="videoPlayer"
            webkit-playsinLine >
                <source src="{{video}}" type="video/mp4">
            </video>
        </div>
        <div class="item item-divider text-center">
        About Hive Africa
        </div>                                        
        <div class  = "item item-text-wrap">
            <div class="row">
                <div class="col" ng-bind-html="about">
                 
                </div>
            </div>
            <div class="row-center col-offset-25">
                <button class="button button-small button-raised button-stable ink-dark" ui-sref="app.about" >Read More</button>
            </div>
        </div>
        <div class="text-center" ng-bind-html="countdown">
            
        </div>
        <button class="button button-block button-assertive waves-button" ui-sref="app.register">
            Register for Hive Africa
        </button>
        <div class="item item-text-wrap">
            <div class="row responsive-sm">
                <div class="col">
                    <h3>Learn</h3>
                    {{homedata.learn}}
                </div>
                <div class="col">
                    <h3>Connect</h3>
                    {{homedata.connect}}
                </div>
                <div class="col">
                    <h3>Location</h3>
                    {{homedata.location}}
                </div>
            </div>
        </div>
        <ion-slide-box auto-play="true" show-pager="false" does-continue="true">
            <ion-slide>
                <div class="box"><img src="img/sandralia1.jpg" alt="location sandralia image" width="100%"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="img/sandralia2.jpg" alt="location sandralia image" width="100%"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="img/sandralia3.jpg" alt="location sandralia image" width="100%"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="img/sandralia4.jpg" alt="location sandralia image" width="100%"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="img/sandralia5.jpg" alt="location sandralia image" width="100%"></div>
            </ion-slide>
        </ion-slide-box>
        <h3 class="text-center">Speakers</h3>
        <div class="list card" ng-repeat="speaker in speakers track by $index">
            <div class="item item-image">
                <img src="{{speaker.img_url}}" width="100%">
            </div>
            <div class="item item-body">
                <h4 class="hiveNameTitle text-center">{{speaker.name}}</h4>
                <h5 class="text-center">{{speaker.company}}</h5>
                <p ng-bind-html="speaker.bio">
                </p>
            </div>
        </div>
        <button class="button button-block button-assertive waves-button" ui-sref="app.register">
            Register for Hive Africa
        </button>
        <img src="img/footerbkg.png" alt="" class="item-bg-image" width="100%">
    </ion-content>
</ion-view>