<ion-view view-title="Ourpartner">
    <ion-content class="im-wrapper">
        <h4 class="text-center themeColor">Hive Africa Global Leaders Program Partners</h4>
        <img src="img/logo.png" alt="hive logo on faq view" class="col col-100 col-center">
        <h5>Meet our Esteem Partners:</h5>
        <ul class="list">
            <li class="item item-text-wrap">
                <img src="img/changeorg.png" alt="">
            </li>
            <li class="item item-text-wrap">
                <img src="img/innovationhangar.png" alt="">
            </li>
            <li class="item item-text-wrap">
                <img src="img/nexus.jpg" alt="">
            </li>
            <li class="item item-text-wrap">
                <img src="img/endeavor.png" alt="">
            </li>
            <li class="item item-text-wrap">
                <img src="img/summit.jpg" alt="">
            </li>
            <li class="item item-text-wrap">
                <img src="img/yec.png" alt="">
            </li>
            <li class="item item-text-wrap">
                <img src="img/founder.png" alt="">
            </li>
            <li class="item item-text-wrap">
                <img src="img/startingbloc.png" alt="">
            </li>
            <li class="item item-text-wrap">
                <img src="img/empacto.png" alt="">
            </li>
            <li class="item item-text-wrap">
                <img src="img/unreasonable.png" alt="">
            </li>
            <li class="item item-text-wrap">
                <img src="img/atlascorp.jpg" alt="">
            </li>
            <li class="item item-text-wrap">
                <img src="img/wisdomlab.png" alt="">
            </li>
        </ul>
        <h5>Our Curriculum Has Been Influenced By The Programs At:</h5>
        <ul class="list">
            <li class="item item-text-wrap">
                <img src="img/changemakers.jpg" alt="">
            </li>
            <li class="item item-text-wrap">
                <img src="img/singularityuniversity.png" alt="">
            </li>
            <li class="item item-text-wrap">
                <img src="img/stanfordbussiness.png" alt="">
            </li>
            <li class="item item-text-wrap">
                <img src="img/factoryx.png" alt="">
            </li>
            <li class="item item-text-wrap">
                <img src="img/landmark.png" alt="">
            </li>
        </ul>
        <!--clients logos can be here-->
        <button class="button button-block button-assertive waves-button" ui-sref="app.register">
            Register for Hive Africa
        </button>
        <img src="img/footerbkg.png" alt="" class="item-bg-image" width="100%">       
    </ion-content>
</ion-view>