
<ion-view view-title="Registration">
    <ion-content>
        <div class="im-wrapper">
            <h4>Register for Hive</h4>
            <p>"Motion is meaningful and appropriate, serving to focus attention and maintain continuity." &mdash; Google</p>
            <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Mobile Number</span>
                <input type="number" placeholder="Mobile Number">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">Gender</div>
                <select>
                <option>Male</option>
                <option selected>Female</option>
                </select>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Country of Origin</span>
                <input type="text" placeholder="Country of origin">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Country of Residence</span>
                <input type="text" placeholder="Country of Residence">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Current Job Title</span>
                <input type="text" placeholder="Current Job Title">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Current Company / Organization</span>
                <input type="text" placeholder="Current Company / Organization">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Bio</span>
                <textarea placeholder="Tell us about yourself"></textarea>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">How did you learn about Hive!</div>
                <select>
                <option>Friends/coleagues</option>
                <option>email ad</option>
                <option>print/publication</option>
                <option>blog/press release</option>
                <option selected>internet ad</option>
                </select>
            </label>
            <button class="button button-block button-assertive">
                Register
            </button>
            </div>
    </ion-content>
</ion-view>
